/* *{
    box-sizing: border-box;
} */
body{    background-color: rgb(191 211 228); 

    background-size: cover;
 
    min-height: 100vh; 
 
     z-index: 1;   
       height:1000px; 
 }
 
 header{width: 100%px;
   
   height: 50px;
   margin-top: 5px;
   padding: 15px;
   background-color:  rgb(104 152 145);
   z-index: 2;
   
   position: relative;}
 header .logo img{    width: 5%;          position: absolute;     margin-left: 20px;} header .project-name{    font-size: 40px;    color: #00335F;    text-align: center;    letter-spacing: 20px;    font-family: 'Lobster', cursive;;    /* margin-right: 40%; */}
 
 .nav{ background-color: #75a59e	;
 height: 3% ;
 width: 100%;
 position: -webkit-sticky;
   position: sticky;
   top: 0px;
 }
 header .project-name:hover{    color: rgb(12, 12, 12);}
 nav{    width: 100%;}
 nav .links{    list-style: none;    width: 100%;    text-align: center;
 }

 a {    text-decoration:none;    color: 201414;    transition: 0.3s;    }a:hover {    color: rgb(24, 212, 181);}
 
 nav .links li{    display: inline-block;    padding: 5px;        }

/* header{
    background-color:#126e82;
    height: 100%;

}

body{
    height: 75%;
    width: 100%;

} */

main {
    background-color: #d8e3e7;
    width: auto;
    margin: 5px;
    text-align: center;
  }

footer {
    background-color: #126e82;
    height: 100px;
}

.our-picture{
    transition: 0.3s;

    display: block;
}


.mohammad:hover{
  

        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);

      
}


.mohammad{
     /* margin-left :7%; */
     /* display: inline-block; */

    /* margin-left: 50%; */
    margin-top: 20px;
	margin-left: 20px;


}

/* .rawan:hover{
  

    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);


} */

/* .rawan{
    /* display: inline-block; */
    /* float: left; */

    /* margin-left: 7%; */



/* 
.alaa:hover{
  

    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
} */

.dev {  
      width: 30rem;  
        background-image: radial-gradient( #FFF4E0, #FFF9F9);   
         padding: 1rem;  
           border-radius: 2rem; 
              color: rgb(73, 62, 62);
            }

.dev:nth-of-type(1), .dev:nth-of-type(2) { 
       display: inline; 
          float: left;
        }
.dev:nth-of-type(2) {
        float: right;
    }
.dev:nth-of-type(3) {
        clear: both; 
           display: block; 
              margin: auto;
            }
.dev:nth-of-type(4), .dev:nth-of-type(5) {
        display: inline;
            float: left;
        }
.dev:nth-child(5) {
        float: right;
    }

.dev img {    
    width: 10rem;    
    border-radius: 50%;
}
.dev {   
     margin: 1.5rem;
    }
.dev h6 {
        font-size: 1.6rem;
            margin: 0.6rem;
                color: #9B426B; 
                   font-weight: 600;
                }
.dev p { 
       font-size: 1.2rem; 
          line-height: 1.5rem; 
             margin: 0.6rem;
            }