*{
  box-sizing: border-box;
}
header img{
  width: 7%;
  height: 7%;
  position: relative;
  top:40px;
  left:268px
  }
  header{
    width: 100%;
    height: 10%;
     margin-top:0%;
    padding: 0%; 
    background-color:  whitesmoke;
    z-index: 2;
    position: relative;
  } 
  
      header .project-name{ 
      position: relative;
      bottom: 40px;

      font-size: 400%; 
      color: #0A1D37;
      text-align: center; 
      letter-spacing: 30px; 
      font-family:'Righteous', 'Kirang Haerang', cursive;
      
  
    }
  .nav{
      background-color:  #0A1D37;
      height: 3% ;
      width: 100%;
      position: -webkit-sticky;
      /* position: sticky; */
      top: 0px;
      font-size: large;
      font-family: fantasy;
      }

      header .project-name:hover{
      color:#F3BDA1;
      }
    nav{    width: 100%;
      }
    nav .links{
      list-style: none;
      width: 100%;
      text-align: center;
      position: relative;
      right:20px;
    
      }
      a { 
       text-decoration:none;
        color:whitesmoke;
         transition: 0.3s;
        }
        a:hover {
          color: #F3BDA1;
          }
        nav .links li{
          display: inline-block;
          padding: 1%; 
                                     
        }

        footer{
          width: 100%;
          height: 0%;
           margin-top:0.5%;
          padding: 1%; 
          background-color:  #0A1D37;
         
        } 
        
        footer .fotterImg{
          position: relative;
          top: 28px;
    
        }
        #fotterp{
          font-family: Berlin Sans FB,'Times New Roman', Times, serif;
          color: #F3BDA1;
          position: relative;
          left: 1%;
          top: 15px;
        }
        #footerpara{
          text-align: center;
          color: #F3BDA1;
          font-family: Berlin Sans FB,'Times New Roman', Times, serif;
          position: relative;
          bottom: -5px ;
          
        }
    
        #footerLocation{
          text-align: right;
          color: #F3BDA1;
          font-family: Berlin Sans FB,'Times New Roman', Times, serif;
          position: relative;
          bottom: 35px;
          right: 4%;
        }
        #address{
          text-align: right;
          color: #F3BDA1;
          font-family: Berlin Sans FB,'Times New Roman', Times, serif;
          position: relative;
          bottom: 23px;
          right: 0%;
        }


body{
    /* text-align: center; */
    background-color:  whitesmoke;
    /* margin:1.5%; */
}
table,th,td{

    
    padding: 7px;
    font-family:Arial, Helvetica, sans-serif;
    color: #0A1D37;
    border-color: #9FB8AD;
  }
    
        main {
            /* width: 45%; */
            /* margin-left: 27%; */
          text-align: center;
          font-family: Georgia, 'Times New Roman', Times, serif;
        
    }

    /* input[type="submit"] */
    #submit {
        font-size: 1.2rem;
        font-weight: 600;
        font-family: Berlin Sans FB,'Times New Roman', Times, serif;
        padding: 0.5rem 1.5rem;
        margin-bottom: 2rem;
        border-radius: 0.5rem;
        background-color: white;
        border: #9FB8AD 0.15rem solid;
        color: #0A1D37;
        border-radius: 13px ;
        position: relative;
        top: 20px;
      }

      #submit:hover{
        background-color: #F3BDA1;
        border: #F3BDA1 solid 0.15rem;
        color: white;
        cursor: pointer;
      }
    

    
    table {
     
        margin-left:36.5% ;
        width: 33rem;
        margin: auto;
        background-image: radial-gradient(whitesmoke,whitesmoke );
      }
      
      td, th {
        vertical-align: middle;
        background-color: #F3BDA1;
        padding: 1.2rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        position: relative;
         left: -13px;
         padding-top: 6%;
         border-radius: 15px 50px;
         padding: -10px;
         margin: 230px;
        
         
      }
      
      th {
        font-size: 1.3rem;
        font-weight: 600;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        
      }
      
      td button {
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 0.5rem;
      }

      fieldset{
        border-radius: 2%;
    width: 35%;
    background-color: #0A1D37;
    text-align: center;
    margin-left: 31.6%;
    padding: 2%;
    padding-left: 3%;
    margin-top: 4%;
    border-radius: 13px;
    font-family: Berlin Sans FB,'Times New Roman', Times, serif;
    font-size: 18px;
    margin-bottom: 4%;

        }
        #user{
position: relative;
left: 2%;
/* padding-right:30px; */
margin-right: 30px;
            
        }

        #phoneLabel{
            position: relative;
left: -1%;
margin-right: 30px;

        }

        label{
color:whitesmoke;
text-align: left;

        }

        #reviewLabel{
            position: relative;
          
left: -3%;
margin-right: 30px;
bottom: 45px;
        }
        #userName{
               width: 200px;
               margin-right: 1%;
               border-radius: 13px ;
               color: #0A1D37;
               height: 24px;
        }
        #phone{
            width: 200px;
            margin-right: 2%;
            position: relative;
            left: -14px;
            border-radius: 13px ;
            color: #0A1D37;
            height: 24px;

     }
     #reviewText{

        width: 200px;
        height: 60px;
        margin-right: 2%;
        position: relative;
        left: -20px;
        border-radius: 13px ;
        color: #0A1D37;
     }

 main h1,h3,h4{
    color: #0A1D37;
    font-size: 1.2rem;
    font-weight: 600;
  

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
main h4{
    font-size: 1.2rem;
        font-weight: 600;
    margin-bottom: 3%;
   
    border-radius: 15px 50px;

}

main h1{
position:relative;
margin-top: 4.4%;
margin-bottom: 3.3%;


}


#overlay {
  position: fixed;
  display: none;
  width: 25%;
  height: 13%;
  top: 15%;
  
  right: 0;
  bottom: 0;
  background-color:rgb(243,189,161,0.6);
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 17px;
  color: #0A1D37;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  font-family:'Segoe UI', Tahoma;
  font-weight: bold;
width: 60%;
  
}

#overlay{

  -moz-animation: cssAnimation 0s ease-in 3.2s forwards;
  
  -webkit-animation: cssAnimation 0s ease-in 3.2s forwards;
  
  -o-animation: cssAnimation 0s ease-in 3.2s forwards;
  
  animation: cssAnimation 0s ease-in 3.2s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes cssAnimation {
  to {
      width:0;
      height:0;
      overflow:hidden;
  }
}
@-webkit-keyframes cssAnimation {
  to {
      width:0;
      height:0;
      visibility:hidden;
  }
}