*{
  box-sizing: border-box;
}
header img{
  width: 7%;
  height: 7%;
  position: relative;
  top:40px;
  left:268px
  }
  header{
    width: 100%;
    height: 10%;
     margin-top:0%;
    padding: 0%; 
    background-color:  whitesmoke;
    z-index: 2;
    position: relative;
  } 
  
      header .project-name{ 
      position: relative;
      bottom: 40px;

      font-size: 400%; 
      color: #0A1D37;
      text-align: center; 
      letter-spacing: 30px; 
      font-family:'Righteous', 'Kirang Haerang', cursive;
      
  
    }
  .nav{
      background-color:  #0A1D37;
      height: 3% ;
      width: 100%;
      position: -webkit-sticky;
      position: sticky;
      top: 0px;
      font-size: large;
      font-family: fantasy;
      }

      header .project-name:hover{
      color:#F3BDA1;
      }
    nav{    width: 100%;
      }
    nav .links{
      list-style: none;
      width: 100%;
      text-align: center;
      position: relative;
      right:20px;
    
      }
      a { 
       text-decoration:none;
        color:whitesmoke;
         transition: 0.3s;
        }
        a:hover {
          color: #F3BDA1;
          }
        nav .links li{
          display: inline-block;
          padding: 1%; 
                                     
        }
body{
  background-color: whitesmoke;
}
  
  
        footer{
          width: 100%;
          height: 0%;
           margin-top:0.5%;
          padding: 1%; 
          background-color:  #0A1D37;
         
        } 
        
        footer .fotterImg{
          position: relative;
          top: 28px;
    
        }
        #fotterp{
          font-family: Berlin Sans FB,'Times New Roman', Times, serif;
          color: #F3BDA1;
          position: relative;
          left: 1%;
          top: 15px;
        }
        #footerpara{
          text-align: center;
          color: #F3BDA1;
          font-family: Berlin Sans FB,'Times New Roman', Times, serif;
          position: relative;
          bottom: -5px ;
          
        }
    
        #footerLocation{
          text-align: right;
          color: #F3BDA1;
          font-family: Berlin Sans FB,'Times New Roman', Times, serif;
          position: relative;
          bottom: 35px;
          right: 4%;
        }
        #address{
          text-align: right;
          color: #F3BDA1;
          font-family: Berlin Sans FB,'Times New Roman', Times, serif;
          position: relative;
          bottom: 23px;
          right: 0%;
        }

  .main{
      min-height: 100vh;
      background-image: url('http://agile-scrubland-45156.herokuapp.com/images/hiking.jpg');
      background-size: cover;
      position: relative;
      
  }

  #first{
      font-size: 190%;
      text-align: center;
      font-family:Garamond, serif ;
      color: #294662;
      margin: 5%;
      font-weight: bold;
  }
  span{
      color:rgba(150, 69, 22, 1);
  }

  #two{
      margin: 2%;
      margin-left: 12%;
      text-align: center;
      font-family:Garamond, serif;
      color: #294662;
      font-size: 150%;
      width: 75%;
      font-weight: bold;
      position: relative;
      top: -32px;

  }

  #join{
    margin: 2%;
    text-align: center;
    font-family:Garamond, serif;
    color: rgba(150, 69, 22, 1);
   text-shadow: 2px 2px 8px gray;
    font-size: 190%;
    font-weight: bolder;
    position: relative;
    top: -14px;


  }
  #three{
    margin: 2%;
    text-align: center;
    font-family:Garamond, serif;
    color:  #294662;
    font-size: 29px;
    font-weight: bold;
    position: relative;
    top: -27px;

  }
  #review:hover{
      color:rgba(150, 69, 22, 1);
  }

  #btn{
      margin-left: 47%;
      height:40px;
      width:90px;
      margin-top: 2%;
      margin-bottom: 2%;
      color: rgba(150, 69, 22, 1);
      position: relative;
      top: -62px;
      font-weight: bold;
      background-color: #F3BDA1;
      border-radius: 25px;
  
      
  }
  #btn:hover{
      background-color: #0A1D37;
      color: #F3BDA1;

  }

  #reviewsDiv{
   
        color: #0A1D37;
        background-color: rgba(81, 84, 216, 0.2);
        text-align: center;
         padding: 1%;
         margin-bottom: 4%;
        position: relative;
        top: -2%;  
        left: 31%;
        width: 70%;
        position: relative;
        left: 195px;
        font-family:  'Tahoma', Geneva, Verdana, sans-serif;
        border-radius: 9px;
    

      
  }
  #reviewsDiv p{
      font-size: 17px;
      padding: 1%;
      color: rgb(62, 50, 83);
      
  }
  #reviewsDiv h3{
    font-size: 20px;
    font-weight: bold;

  }

  #review{
    margin: 2%;
    text-align: center;
    font-family:Garamond, serif;
    color:  #0A1D37;
    font-size: 190%;
    font-weight: bold;

  }
  

  random-images{
    margin:5%;
    margin-left: 23.5%;
    
  }

