*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
  }
  
header img{
    width: 7%;
    height: 7%;
    position: relative;
    top: 30px;
    left: 30px
    }
    
    .nav{
        background-color:  #02475e;
        height: 3% ;
        width: 100%;
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        /* font-weight: bold; */
        font-size: large;
        font-family: fantasy;
        }
        header .project-name:hover{
        color:#9FB8AD;
        }
      nav{    width: 100%;
        }
      nav .links{
        list-style: none;
        width: 100%;
        text-align: center;
      
        }
        a { 
         text-decoration:none;
          color:whitesmoke;
           transition: 0.3s;
          }
          a:hover {
            color: #FB743E;
            }
          nav .links li{
            display: inline-block;
            padding: 1%; 
                                       
          }

  
  
  
  footer{
    width: 100%;
    height: 0%;
     margin-top:0.5%;
    padding: 1%; 
      background-color:  #02475e;
   
   
  } 
  
  footer .fotterImg{
    width: 30%;
    
  }
  
  #footerpara{
    text-align: center;
    
  }

  .main{
      min-height: 100vh;
      background-image: url('http://agile-scrubland-45156.herokuapp.com/images/hiking.jpg');
      background-size: cover;
      position: relative;
      
  }

  #first{
      font-size: 190%;
      text-align: center;
      font-family:Garamond, serif ;
      color: #294662;
      margin: 5%;
      font-weight: bold;
  }
  span{
      color:#ff4900;
  }

  #two{
      margin: 2%;
      margin-left: 12%;
      text-align: center;
      font-family:Garamond, serif;
      color: #294662;
      font-size: 150%;
      width: 75%;
      font-weight: bold;

  }

  #join{
    margin: 2%;
    text-align: center;
    font-family:Garamond, serif;
    color: #ff0000;
    font-size: 190%;
    font-weight: bolder;

  }
  #three{
    margin: 2%;
    text-align: center;
    font-family:Garamond, serif;
    color:  #294662;
    font-size: 190%;
    font-weight: bold;

  }
  #review:hover{
      color:#ff4900;
  }

  #btn{
      margin-left: 48%;
      height:40px;
      width:90px;
      margin-top: 2%;
      margin-bottom: 2%;
      color: rgb(175, 12, 12);
  
      
  }
  #btn:hover{
      background-color: black;

  }
  #reviewsDiv{
   
        color: #dcbfbf;
        background-color: rgba(12, 8, 19, 0.2);
        text-align: center;
         padding: 1%; 
         margin-top: 5%;
        position: relative;
        top: 30%;  
        left: 31%;
        border: 1px solid rgba(12, 8, 19, 0.2);
        border-radius: 200%;
        width: 40%;
        /* width: 50%;
       position: absolute;
       left: 27%; */
      
  }
  #reviewsDiv p{
      font-size: 12px;
      padding: 0.5%;
      color: rgb(166 214 255);
  }
  #reviewsDiv h1{
    font-size: 15px;
    font-weight: bolder;
    
    

  }

  #review{
    margin: 2%;
    text-align: center;
    font-family:Garamond, serif;
    color:  #e8f4ff;
    font-size: 190%;
    font-weight: bold;

  }
  #reviewsDiv:hover{
      color: #000;
  }
  random-images{
    margin:5%;
    margin-left: 23.5%;
    
  }

