*{
  box-sizing: border-box;
}
header img{
  width: 7%;
  height: 7%;
  position: relative;
  top:40px;
  left:268px
  }
  header{
    width: 100%;
    height: 10%;
     margin-top:0%;
    padding: 0%; 
    background-color:  whitesmoke;
    z-index: 2;
    position: relative;
  } 
  
      header .project-name{ 
      position: relative;
      bottom: 40px;

      font-size: 400%; 
      color: #0A1D37;
      text-align: center; 
      letter-spacing: 30px; 
      font-family:'Righteous', 'Kirang Haerang', cursive;
      
  
    }
  .nav{
      background-color:  #0A1D37;
      height: 3% ;
      width: 100%;
      position: -webkit-sticky;
      /* position: sticky; */
      top: 0px;
      font-size: large;
      font-family: fantasy;
      }

      header .project-name:hover{
      color:#F3BDA1;
      }
    nav{    width: 100%;
      }
    nav .links{
      list-style: none;
      width: 100%;
      text-align: center;
      position: relative;
      right:20px;
    
      }
      a { 
       text-decoration:none;
        color:whitesmoke;
         transition: 0.3s;
        }
        a:hover {
          color: #F3BDA1;
          }
        nav .links li{
          display: inline-block;
          padding: 1%; 
                                     
        }
  
        footer{
          width: 100%;
          height: 0%;
           margin-top:0.5%;
          padding: 1%; 
          background-color:  #0A1D37;
         
        } 
        
        footer .fotterImg{
          position: relative;
          top: 28px;
    
        }
        #fotterp{
          font-family: Berlin Sans FB,'Times New Roman', Times, serif;
          color: #F3BDA1;
          position: relative;
          left: 1%;
          top: 15px;
        }
        #footerpara{
          text-align: center;
          color: #F3BDA1;
          font-family: Berlin Sans FB,'Times New Roman', Times, serif;
          position: relative;
          bottom: -5px ;
          
        }
    
        #footerLocation{
          text-align: right;
          color: #F3BDA1;
          font-family: Berlin Sans FB,'Times New Roman', Times, serif;
          position: relative;
          bottom: 35px;
          right: 4%;
        }

/*Todays work*/

main {
    background-color: whitesmoke;
   text-align: center;
   font-family: Berlin Sans FB,'Times New Roman', Times, serif;
}

main img {

    height: 60%;
    width: 60%;
    margin: auto;
    display: block;





  } 



main h2 {
font-size: x-large;
font-weight: bold;
margin-top: 2%;
margin-bottom: 2%;
}

main p {
   text-align: center;
   margin:5%;
   font-size: large;
   
  
}



/* #Btn {
    background-color: #4CAF50; 
    
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
     display: inline-block; 
    font-size: 16px;
    float: right;
    position: -webkit-sticky;
    position: sticky;
    top: 0%;
   
  } */

  /* #bt0, #bt1, #bt2, #bt3, #bt4, #bt5,#bt6 {
    background-color: #FB743E; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    /* font-size: 16px;
    margin: 2%;
    
    

  } */ 

  

 #in0, #in1, #in2,#in3,#in4,#in5,#in6  {
        background-color: #d5d8d8;
        color: black;
        margin: 2%;
      
        

  }


  main div p {
      color: #02475E;
    margin-bottom: 5%;
    margin-right: 10%;
    margin-left: 10%;
    
      
  }

#h3 {
  margin: 1%;
  text-align: left;
font-weight: bold;
font-size: x-large;
}

main section {
margin-top: 2%;
  /* margin: 4%; */

  margin-left: 10%;
  margin-right: 10%;
}



.progCard {
/* border: 3px #02475E solid; */
border-radius: 20%;
background-color: #d5d8d8;
position: relative;
top: 10%;
margin: 100px;
padding: 5%;
}

.progCard:hover {


  box-shadow: 10px 10px 8px #888888;
  

}



button {
  background: cornflowerblue;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 4px;
  font-family: 'Lato';
  margin: 5px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;

 
}

button:hover {
  background: orange;
  cursor: pointer;
}


/* #intropara {
background-image: url(http://inthetravellab.com/wp-content/uploads/2013/09/IMG_6597.jpg);
/* background-size: cover; 
}*/


p {
  
  text-align: justify;
  margin: 2%;
}
h3 {
  /* padding: %; */
  text-align:center;
  font-size: x-large;
}

 /* #intropara{
width: 150%;
margin-left: 0%;
margin-right: 0%;
}  */

#bt0, #bt1, #bt2, #bt3, #bt4, #bt5,#bt6{
  position: relative;

  top: 80%;
  float: right;
  margin-top: 9%;
  left: -250px;
}
