body{
    background-color: rgb(191 211 228);
    background-size: cover;
    min-height: 100vh;
    z-index: 1;
    /* height: 50px; */

}
header{
    width: 100%;
    height: 0%;
     margin-top:0.5%;
    padding: 1%; 
    background-color:  rgb(104 152 145);
    z-index: 2;
    position: relative;
  } 
  
      header .project-name{ 
      font-size: 400%; 
      color: #00335F;
      text-align: center; 
      letter-spacing: 30px; 
      font-family: 'Lobster', cursive;
      /* margin-right: 40%; */
    }
  .nav{
  background-color: #75A59E ;
  height: 3% ;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  }
  header .project-name:hover{
  color: rgb(12, 12, 12);
  }
nav{    width: 100%;
  }
nav .links{
  list-style: none;
  width: 100%;
  text-align: center;

  }
  a { 
   text-decoration:none;
    color: #dbeeff;
     transition: 0.3s;
    }
    a:hover {
      color: rgb(24, 212, 181);
      }
    nav .links li{
      display: inline-block;
      padding: 1%; 
                                 
    }
    #fotterp{
        text-align: center;
      }
      
      footer{
        width: 100%;
        height: 0%;
         margin-top:0.5%;
        padding: 1%; 
        background-color:  rgb(104 152 145);
       
        /* position: absolute; */
      } 
      
      footer .fotterImg{
        width: 30%;
        /* padding: 10%; */
      }
      footer img {
        height: 5%;
        width: 5% ;
       }


       /*                                                              */

       /* #stories{
           width: 50%;
           height: 70%;
       } */
       /* #paragraph{
        font-size: 170%;
        width: 100%;
        margin: 2%;
        margin-left: 50%;
        color: #632d2d;
        font-family: Garamond, serif;
        text-align:center;
        font-weight: bolder;
      
       }
       */


       form{
           margin: 2%;
           margin-left: 35%;
           width: 50%;
           
       }

       form #paragraph{
        font-size: 150%;
        width: 100%;
        margin: 5%;
        margin-left: -20%;
        color: #632d2d;
        font-family: Garamond, serif;
        text-align:center;
        font-weight: bolder;
      
       }
       #userName{
          width: 20%;
          margin-left: 2%;
         
       }
       #programs{
           width: 21.5%;
           margin-left: 4%;
       }
       input{
        font-family: Garamond, serif;
        color: blanchedalmond;
       }

       #results{
           width: 25%;

           border:1px solid black;
           margin-left: 32%;
           overflow: scroll;
       }
      